.about-hero-container {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.63);
	object-fit: contain;
	justify-content: center;
}

.about-hero-container > header {
	font-weight: 500;
	color: white;
	font-size: 100px;
	margin-top: -100px;
}

.about-hero-container > p {
	margin-top: 8px;
	padding-left: 7%;
	padding-right: 7%;
	color: white;
	font-size: 32px;
	text-align: center;
}

.hero-btns {
	margin-top: 32px;
}

.hero-btns .btn {
	margin: 6px;
}

@media screen and (max-width: 960px) {
	.about-hero-container > header {
		font-size: 70px;
		margin-top: -150px;
	}
}

@media screen and (max-width: 768px) {
	.about-hero-container > header {
		font-size: 50px;
		margin-top: -100px;
	}

	.about-hero-container > p {
		font-size: 20px;
	}

	.btn-mobile {
		display: block;
		text-decoration: none;
	}

	.btns {
		width: 100%;
	}
}

Button {
	padding: 8px 20px;
	border-radius: 2px;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	background-color: transparent;
	color: white;
	padding: 8px 20px;
	border: 1px solid white;
	transition: all 0.3s ease-out;
}

Button:hover {
	background-color: transparent;
	background-color: white;
	color: #242424;
	transition: all 0.3s ease-out;
}
