:root {
	--purple: rgb(182, 146, 216);
	--dpurple: rgb(107, 40, 170);
	--gray: rgb(55, 55, 55);
	--lgray: rgb(70, 70, 70);
}

.home-wrapper {
	margin: 0;
	color: white;
	background: var(--gray);
	overflow-x: hidden;
	min-height: 80vh;
}

.hero-btns {
	margin-top: 32px;
}

.hero-btns .btn {
	margin: 6px;
}

@media screen and (max-width: 960px) {
	.home-hero-container > header {
		font-size: 70px;
		margin-top: -150px;
	}
}

@media screen and (max-width: 768px) {
	.home-hero-container > header {
		font-size: 50px;
		margin-top: -100px;
	}

	.home-hero-container > p {
		font-size: 20px;
	}

	.btn-mobile {
		display: block;
		text-decoration: none;
	}

	.btns {
		width: 100%;
	}
}

Button {
	border-radius: 2px;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	background-color: transparent;
	color: white;
	padding: 8px 20px;
	border: 1px solid white;
	transition: all 0.3s ease-out;
}

Button:hover {
	background-color: transparent;
	background-color: white;
	color: var(--gray);
	transition: all 0.3s ease-out;
}

.spacer {
	aspect-ratio: 900/300;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* layered wave SVG background image via https://haikei.app/ */

.layer1 {
	background-image: url('/layer1.svg');
}
/* .layer2 {
	background-image: url('../../public/images/layer2.svg');
} */

.flip {
	transform: rotate(180deg);
}

.section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section > p {
	padding-left: 5vh;
	padding-right: 5vh;
}

.home-header {
	font-size: 4rem;
	color: white;
}

.home-p {
	font-size: 1.5rem;
	color: white;
}
