<link rel="stylesheet" type="text/css" href="styles/Footer.css" />

<section class="footer-container">
    <div class="messages">
        <p class="copyright">LynkHub © 2021</p>
    </div>
    <div class="social-icons"><a href="https://github.com/f-habibCA/LynkHub"><i class="fab fa-github i"></i></a></div>
</section>