<link rel="stylesheet" type="text/css" href="styles/AboutPage.css" />
<div class="about-hero-container">
	<header class="about-header">About</header>
	<p>With LynkHub you can save all your social media accounts in one place, and share those usernames with anyone
		through sending them your user-specific code. </p><a href="/login"><button class="btn">Log In to
			Use</button></a>
</div>