<link rel="stylesheet" type="text/css" href="styles/HomePage.css" />
<section class="home-wrapper">
	<div class="spacer layer1 flip"></div>
	<section class="section">
		<header class="home-header">LynkHub</header>
		<p>The Ultimate Site for Saving and Sharing Your Socials</p><a href="/about"><button class="btn">Click to Learn
				More</button></a>
	</section>
	<div class="spacer layer1"></div>
</section>