<link rel="stylesheet" type="text/css" href="styles/LogoutPage.css" />

<container class="logout-container">
    <div class="logout-wrapper">
        <div class="form">
    <img src="images/avatar.png" alt="">
			<div class="logout-btn">Log Out</div>
		</div>
	</div>
</container>