<link rel="stylesheet" type="text/css" href="styles/Profiles.css" />

<container class="profiles-container">
    <div class="profiles-wrapper">
        <class class="form">
            <img src="images/avatar.png" alt="">
            {{!-- profiles are a json with a list of names under people: https://handlebarsjs.com/examples/builtin-helper-each-block.html --}}
            {{#each this.urls}}
					<div class="UserUrl"><a href="{{this.url}}">{{this.nameOfLink}}</a></div>
			{{/each}}
            
        </ul>
    </div>
</container>