<link rel="stylesheet" type="text/css" href="styles/Profile.css" />

<container class="profiles-container">
    <div class="profiles-wrapper">
        <ul class="form">
            <img src="images/avatar.png" alt="">
            <header>Lynks:</header>
            {{!-- profiles are a json with a list of names under people: https://handlebarsjs.com/examples/builtin-helper-each-block.html --}}
            {{#each this.urls}}
					<div class="profiles-group">
                        <a class="profiles-btn" href="{{this.url}}">{{this.nameOfLink}}</a>
                    </div>
			{{/each}}
        </ul>
    </div>
</container>