<link rel="stylesheet" type="text/css" href="styles/SignupPage.css" />
<container class="signup-container">
	<div class="signup-wrapper">
		<form action="" class="form"><img src="images/avatar.png" alt="">
			<header>Sign Up</header>
			<div class="input-group"><input type="text" name="signinUsername" id="signinUsername"
					required=""><label>Username</label></div>
			<div class="input-group"><input type="password" name="signinPassword" id="signinPassword"
					required=""><label>Password</label></div>
			<div class="input-group"><input type="password" name="confirmsigninPassword" id="confirmsigninPassword"
					required=""><label>Confirm Password</label></div>
			<div class="signup-btn">Sign Up</div>
		</form>
	</div>
</container>