:root {
	--purple: rgb(182, 146, 216);
	--gray: rgb(55, 55, 55);
	--dgray: rgb(77, 77, 77);
}

.footer-container {
	background: linear-gradient(90deg, var(--gray) 0%, var(--dgray) 100%);
	padding: 2.3rem 0 2rem 0;
	display: flex;
	color: var(--purple);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	text-decoration: none;
	width: 85%;
	border-radius: 5px 50px 0px 0px;
}

.social-icons {
	letter-spacing: 0.7rem;
}

i,
i:focus,
i:visited,
i:active {
	text-decoration: none;
	color: var(--purple);
}

.i:hover {
	color: lightslategray;
}

@media screen and (max-width: 500px) {
	.footer-container {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 370px) {
	.footer-container {
		font-size: 0.6rem;
	}
}
