:root {
	--purple: rgb(182, 146, 216);
	--dpurple: rgb(101, 19, 177);
	--yellow: rgb(218, 235, 72);
	--gray: rgb(55, 55, 55);
	--lgray: rgb(70, 70, 70);
}

.footer-container {
	background: linear-gradient(90deg, var(--gray) 0%, var(--lgray) 100%);
	/* padding: 2.3rem 0 2rem 0; */
	display: flex;
	color: var(--purple);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	text-decoration: none;
	width: 100%;
	height: 17vh;
	border-top: 5px solid;
	border-bottom: 5px solid;
	border-image: linear-gradient(
		to right,
		var(--dpurple),
		var(--purple),
		var(--dpurple),
		var(--purple),
		var(--dpurple)
	);
	border-image-slice: 1;
}

.social-icons {
	letter-spacing: 0.7rem;
}

i,
i:focus,
i:visited,
i:active {
	text-decoration: none;
	color: var(--purple);
}

.i:hover {
	color: lightslategray;
}

@media screen and (max-width: 500px) {
	.footer-container {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 370px) {
	.footer-container {
		font-size: 0.6rem;
	}
}
